<h4 class="my-2 ml-2">下書き一覧</h4>
  <div class="container">
    <div class="card-columns">
      <% @reviews.each do |review| %>
        <div class="card">
          <%=link_to edit_review_path(review.id) do %>
            <%= review.content.truncate(10) %>
            <%= review.item.name %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>